*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
}
header{
    background: rgba(75, 90, 101);
    padding: 25px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .naverbar a{
    color: white;
    margin-left: 25px;
    text-decoration: none;
    font-size: 15px;
}
header .naverbar .boton{
    background: linear-gradient(to bottom, rgba(55, 64, 72, 0.712) 45%, rgba(63, 75, 83, 0.945) 50%); 
    border-radius: 30px;
    padding: 8px 25px 8px 25px;
    border-top: 1px solid rgb(48, 55, 61);
    border-bottom: 2px rgba(83, 98, 108);
    
}
.hero{
    background: rgba(75, 90, 101);
    color: white;
    display: flex;
    padding: 50px 80px;
    align-items: center;
}
.hero-img img{
    width: 320px;
}
.hertext{
    margin-left: 50px;
    max-width: 450px;
}
.hertext h1{
    font-size: 45px;
}
.btne{
    background: #4a90e2;
    padding: 12px 25px;
    border: none;
    border-radius: 20px;
    color: white;
    margin-top: 15px;
    cursor: pointer;
}
.wlink img{
    width: 14px;
    margin-right: 5px;
}
.wlink a{
    color: white;
}
.brands{
    display: flex;
    justify-content: space-between;
    background: #e8e8e8;
    padding: 25px 0;
    
}
.brands img{
    width: 90px;
    opacity: 0.5;
    margin: 0 20px;
}
.features{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px 80px;
}
.featurebox{
    width: 30%;
    margin: 0 20px;
}
.featurebox img{
    width: 80px;
}
.projects{
    padding: 40px 80px;
}
.projects h3{
    display: flex;
    align-items: center;
    font-size: 22px;
    margin-bottom: 20px;
}
.projects h3 img{
    width: 20px;
    margin-right: 10px;
}
.imagenesproyect{
    display: flex;
    justify-content: space-between;
}
.imagenesproyect img{
    width: 23%;
    border-radius: 5px;
}
.blog{
    padding: 40px 80px;
}
.blog h3{
    display: flex;
    align-items: center;
    font-size: 22px;
    margin-bottom: 20px;
}
.blog h3 img{
    width: 20px;
    margin-right: 10px;
}
.blogbox{
    display: flex;
    align-items: center;
}
.blogbox img{
    width: 150px;
    margin-right: 20px;
    border-radius: 5px;
}
.blogtext h4{
    margin-bottom: 6px;
}
